/* * {box-sizing: border-box}*/

* {box-sizing: border-box}
/* Full-width input fields */

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4CAF50;
}

li {
  display: inline-block;
  float: right;
  padding: 20px 15%;
  color: white;
  font-weight: bold;
}
li a{
  text-decoration: none;
  color:#111;
}


.container {
border-radius: 10px;
width: 60%;
margin-left: 20%;
margin-top: 8.5%;
 
}


  input[type=text], input[type=password], input[type=email] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 20%;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

label{
  margin-left: 20%;
  
}
.signupbtn {
  background-color: #4CAF50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  font-weight: 1000;
  margin-left: 20%;
} 

.signupbtn:hover{
    opacity: 1;
}
 

.signupbtn:hover {
  opacity:1;
}




/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.options{
  font-size: 15px;
  font-weight: bold;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}